.prompt {
  text-align: center;
  margin: 40px 20px;
  h1 {
    font-size: 32px;
    padding: 24px 0;
    // line-height: 3.2;
  }
}

.login {
  margin-top: 80px;
  display: flex; 
  justify-content: space-around;
  align-items: baseline;
  .mat-stroked-button {
    width: 30%;
  }
}

.security {
  text-align: center;
  margin: 40px 20px;
  h1 {
    font-size: 32px;
    padding: 24px 0;
  }
}

.footer {
  margin: 10px;

}