<div class="flex-content">
	<div class="greeting">
		<p class="">Begin with small thing everyday</p>
		<div class="purpose">
			<h3>Use this site to "type". </h3>
			<h2>Because It's simple and effective.</h2>
			<h3>No friend, no share, no comment. Just you!</h3>
		</div>
	</div>
	<div class="login-form">
		<p class="">Sign in with</p>
		<button (click)="googleLogin()" mat-stroked-button>Google</button>
		<button  mat-stroked-button>Facebook</button>
		<button  mat-stroked-button>Twitter</button>
	</div>	
</div>
<div class="purpose-mobile" style="display: none">
	<span>Use this site to "type". </span>
	<span>Because It's simple and effective.</span>
	<p>
		<span>No friend no share, </span>
		<span>no comment. </span>
		<span>Just you!</span>
	</p>
</div>
<div class="footer">
	<mat-divider></mat-divider>
	<div class="footer-content">
		
		<div class="infor">
			<p>Powered by Anh Nguyen</p>
			<p>&copy; 2018-2019 Contact: canhazn@gmail.com</p>
		</div>
	
		<div class="beta-app">
			Beta version!
		</div>
	</div>
</div>
