<div *ngIf="!usedEmail; else linkUser" class="login">
	<p class="">Sign in with:</p>
	<div class="btn">		
		<button (click)="login('google.com')" mat-flat-button>Google</button>
		<button (click)="login('facebook.com')" mat-flat-button>Facebook</button>
	</div>
</div>
<ng-template #linkUser>
	<mat-card class="link-user" style=" ">		
		<mat-card-content>You already have an account with this email: canhazn@gmail.com {{ usedEmail }}</mat-card-content>
	  	<mat-card-actions style="display: flex;">
			  <span style="flex: 1 1 auto"></span>
			  <button mat-flat-button color="primary" (click)="link()" cdkFocusInitial>
			  	<span>Login in with Google to continue!</span>			  	
			  	<mat-icon>navigate_next</mat-icon> 
			  </button>
	  	</mat-card-actions>
	</mat-card>
</ng-template>


<div class="footer">
	<mat-divider></mat-divider>
	<div class="beta-app" style="display: flex; justify-content: space-between; align-items: baseline;">
		<p>Beta version!</p>			
		<a style="text-decoration: underline;" href="https://github.com/canhazn/dailytyping">Source code</a>			
	</div>
	<div class="infor">
		<p>Powered by Anh Nguyen </p>
		<p>Contact: canhazn@gmail.com</p>
	</div>
</div>
