.prompt {
  margin-top: 64px;
  text-align: center;
}

.login {
  margin: 80px auto;
  display: flex; 
  justify-content: space-around;
  align-items: baseline;
  .mat-stroked-button {
    width: 30%;
  }
}

.security {
  text-align: center;
}

.footer {
  margin-top: 64px;
}


@media (max-width: 1280px) {
  .prompt {
    margin: 0;
  }
  .login {
    margin: 30px auto;
  }
}


@media (max-width: 600px) {
  .login {    
    display: flex;
    flex-direction: column;
    align-items: center;
    .mat-stroked-button {
      width: 100%;
      max-width: 300px;
      margin-top: 16px;
    }
  }
}
