:host {  
  // height: calc(100vh - 47px);  
  text-align: center;   
  font-size: 18px;
}
.greet {
  margin-bottom: 40px;
  .logo {   
    span {      
      font-size: 40px;       
      // color: #607d8b;   
    }
    img {
      vertical-align: text-bottom;
      height: 40px;
    }
  }    
}

.group-btn {
    width: 100%; 
    max-width: 300px;
    margin: 0 auto;
    .mat-stroked-button {   
      width: 300px;   
      height: 48px;
      font-size: 18px;
      border: 2px solid #555;
      border-radius: 5px;
      margin-bottom: 10px;
    }   
    .btn {
      max-width: 300px;
      height: 48px;
      line-height: 48px;  
      border: 2px solid #555;
      border-radius: 5px;
      margin: 10px auto;  
      display: block;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        border-color: #fff;
      }
    }
}

.purpose {
  margin-top: 40px;
}
.contact {
  margin-top: 40px;
  font-size: 14px;
  margin-bottom: 1.5em
}
