<div class="greet">
	<div class="logo">    
    <img class="logo-img" src="/assets/logo.png" alt="">
		<span class="logo-text">Daily Typing</span>
  </div>
		<p>Thank for being here!</p>
</div>
	<div class="group-btn">
		<p class="">Sign in with</p>
		<button (click)="facebookLogin()" mat-stroked-button>Facebook</button>
		<button (click)="twitterLogin()" mat-stroked-button>Twitter</button>
		<button (click)="googleLogin()" mat-stroked-button>Google</button>
		<!-- <span class="fb btn">	Facebook </span>
		<span class="twitter btn"> Twitter </span>
		<span  class="google btn">	Google </span> -->
	</div>
	<div class="purpose">
		<span>Use this site to "type". </span>
		<span>Because It's simple and effective.</span>
		<p>
			<span>No friend no share, </span>
			<span>no comment. </span>
			<span>Just you!</span>
		</p>
	</div>
<div class="contact">
	<span>&copy; 2018-2019 </span>
	<span>Contact: canhazn@gmail.com</span>
</div>
