.bar {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
    margin-bottom: 1.5em;

    .btn {
    	border-radius: 20px;
    	margin-right: 16px;
    }
}