<div *ngIf="collection | async as collection">
	<div class="bar">
		<button mat-raised-button (click)="goBack()" class="btn">
			<mat-icon>navigate_before</mat-icon>
		</button>
		<span>{{ collection.name }}</span>
	</div>
	<div class="bar">
		<div class="text">
			<span>{{ collection.createdAt.toDate() | timeAgo }}&nbsp;|&nbsp;</span>
			<span *ngIf="collection.arrayNoteId.length > 1">{{ collection.arrayNoteId.length }} notes</span>
			<span *ngIf="collection.arrayNoteId.length <= 1">{{ collection.arrayNoteId.length }} note</span>
		</div>
		<span style="display: flex; flex: auto"></span>
		<app-edit-collection-btn [collection]="collection" style="margin-right: 20px;"></app-edit-collection-btn>
		<app-add-note-btn [collection]="collection"></app-add-note-btn>
	</div>

	<app-editor *ngFor="let noteId of collection.arrayNoteId" [noteId]="noteId" [timeFormat]="'timeAgo'"></app-editor>
</div>