.bar {
	margin: 0 4px 16px 4px;	
	display: flex;
	justify-content: space-between;   	
    .text {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.wrap-mat-spinner {
  height:40px; width: 40px; display: flex; justify-content: center; align-items: center;
}