.loading-spinner {
  position: fixed;
  height: 70%;
  width: 100%;  
	text-align: center;  	
	display: flex;
	justify-content: center;
  align-items: center;
}
.spiner-icon {
  opacity: 0;
	animation: fadeIn 1s linear 4s infinite, spin 1.2s linear 3s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);    
  }
  100% {
    transform: rotate(360deg);    
  }
}

@keyframes fadeIn {
  from {    
    opacity: 0.6;
  }
  to {
    opacity: 0.6;
  }
}