.loading-spinner {
  position: fixed;
  height: 70%;
  width: 100%;  
	text-align: center;  	
	display: flex;
	justify-content: center;
  align-items: center;
}
.spiner-icon {
	animation: fadeIn 1.2s, spin 1.2s linear infinite;
}

.fadeIn {
  animation: fadeIn 1.2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);    
  }
  100% {
    transform: rotate(360deg);    
  }
}

@keyframes fadeIn {
  0% {    
    opacity: 0;
  }
  100% {    
    opacity: 0.6;
  }
}