.collection {
	width: 600px;	
	height: 140px;
	box-sizing: border-box;
	display: inline-table;
	margin-bottom: 1.5em;
	cursor: pointer;
	.collection-header {
		display: flex;
		cursor: pointer;
		// justify-content: space-around;
		// align-items: baseline;
		// outline: none;

		.number {
			// height: 45px;
			width: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.text {
			display: flex;
			flex-direction: column;
			padding-left: 16px;
			span {
				font-size: 17px;
			}
		}
	}
	.mat-card-actions {
		display: flex;
	}
}

@media (max-width: 1280px) {
	.collection {
		width: 100%;
	}
}