<ng-container *ngIf="(state | async) as state">

  <button *ngIf="state == 'init'"
    mat-raised-button mat-icon-button 
    (click)="createNote()" 
    [matTooltip]="toolTip" 
    matTooltipPosition="left"> <mat-icon>add</mat-icon>			
  </button>
  
  <div *ngIf="state == 'running'" class="wrap-mat-spinner">
    <mat-spinner color="primary" [diameter]="20" [strokeWidth]="2"></mat-spinner>
  </div>

  <button *ngIf="state == 'done'" mat-icon-button disabled> 
    <mat-icon>done</mat-icon>			
  </button>

</ng-container>





