.mat-card {
	width: 600px;		
	box-sizing: border-box;
	display: inline-table;
	margin-bottom: 1.5em;
	cursor: pointer;

	.mat-card-avatar {
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mat-card-actions {
		padding-top: 0;
		display: flex;
	}
}

@media (max-width: 1280px) {
	.mat-card {
		width: 100%;
	}
}