<div class="bar">
	<div class="text">
		<span>{{ nowTime | date:'EEEE, MMMM d'}}</span>
	</div>
	<app-add-note-btn></app-add-note-btn>
</div>


<div *ngIf="todayNote | async as todayNote">
	<app-editor *ngFor="let note of todayNote; trackBy: trackNote" [note]="note" [timeFormat]='timeAgo'></app-editor>
</div>

<div class="review">
	<button mat-raised-button routerLink="/review/yesterday" class="btn memorize">
		<span>Memorize</span>		
		<mat-icon>restore</mat-icon>
	</button>
	
	<button mat-raised-button routerLink="/review/this-week" class="btn week">
		<mat-icon>notes</mat-icon>
		<span>Review this weak</span>		
	</button>

	<button mat-raised-button routerLink="/review/this-month" class="btn month">
		<mat-icon>import_contacts</mat-icon>
		<span>This month</span>		
	</button>
</div>	

<div *ngIf="collections | async as collections" class="bar">
	<span *ngIf="collections.length == 0">Let create a collection by hitting that button!</span>
	<span style="flex: 1 auto"></span>
	<app-create-collection-btn></app-create-collection-btn>
</div>

<div *ngIf="collections | async as collections" class="collections">
	<app-collection *ngFor="let collection of collections" [collection]="collection"></app-collection>	
</div>

