.bar {	
	margin: 0 4px 16px 4px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.review {
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
    margin-bottom: 1.5em;

    .btn {
    	border-radius: 20px;
		overflow: hidden;
    }

   	.memorize {
   		.mat-icon {
   			margin: 0 0 0 10px;
   		}
   	}
   	.week, .month {
   		.mat-icon {
   			margin: 0 10px 0 0;
   		}
   	}
}

.collections {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



@media (max-width: 1280px) {
	.collections {
		width: 100%;		
		flex-direction: column;
	}
}

@media (max-width: 500px) {
	.month {
		span {
			display: none;
		}

		.mat-icon {
			margin: 0 !important;
		}
	}
}

@media (max-width: 400px) {
	.week {
		span {
			display: none;
		}

		.mat-icon {
			margin: 0 !important;
		}
	}
}