@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin home-page-theme($theme) {
  
  // retrieve variables from theme 
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  
  // all of these variables contain many additional variables

  .set-new-note-btn {    
      // retrieve particular color from variable, rg: text, base, divider, ...      
      // background-color: mat-color($foreground, divider) !important;         
  }

  // .like {
  //   color: mat-color($foreground, text);    
  // }
  // .liked {
  //   color: mat-color($primary);    
  // }
}