:host {
	display: block;
	overflow-x: hidden;
	width: 100%;
	min-height: 100vh;
	// box-sizing: border-box;
	overflow-y: auto;	
	-webkit-overflow-scrolling: touch;
}

// parent display flex colunm 
// .mat-app-background: flex: auto --> full height, width: 100%;

.mat-app-background {
	padding: 20px 24px;	
}

@media (max-width: 1280px) {
	.mat-app-background {
		padding: 16px 4px;
	}
}