.mat-app-background {
	width: 100%;
	min-height: calc(100vh - 64px);
	padding: 20px 24px;	
	box-sizing: border-box;
	overflow: auto;	
	-webkit-overflow-scrolling: touch;
}

// parent display flex colunm 
// .mat-app-background: flex: auto --> full height, width: 100%;

@media (max-width: 600px) {
	.mat-app-background {	
		min-height: calc(100vh - 56px);		
	}
}


@media (max-width: 1280px) {
	.mat-app-background {
		padding: 16px 12px;
	}
}