:host {
	display: block;
	width: 100%;
	min-height: 100vh;
	background-color: blue;	
	overflow-y: auto;	
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.mat-app-background {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
// parent display flex colunm 
// .mat-app-background: flex: auto --> full height, width: 100%;

.out {	
	flex: auto;	
	padding: 20px 24px 0 24px;	
}

@media (max-width: 1280px) {
	.out {
		padding: 16px 4px 0 4px;
	}
}