<mat-card *ngIf="note">
	<mat-form-field floatLabel="never">		
		<textarea [(ngModel)]="note.content" (ngModelChange)="typing()" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"  placeholder="What's need to be typed?"></textarea>
	</mat-form-field>

	<div class="bar">
		<button mat-icon-button disabled *ngIf="state | async as state; else elseDay">				
			<mat-icon *ngIf="state == 'typing'" class="typing">autorenew</mat-icon>
			<mat-icon *ngIf="state == 'saved'">cloud_done</mat-icon>			
		</button>
		
		<ng-template #elseDay>
			<button *ngIf="timeAgo" mat-icon-button disabled>{{ note.createdAt.toDate() | timeAgo}}</button>	
			<button *ngIf="!timeAgo" mat-icon-button disabled>{{ note.createdAt.toDate() | date:'EEEEEE'}}</button>	
		</ng-template>

		<div [ngClass]="{'liked': note.like >= 1}" class="like">
			<button mat-icon-button class="like-btn"
					#tooltip="matTooltip"  
					[matTooltip]="'+' + note.like"
			        matTooltipPosition="right"			        
			        matTooltipShowDelay="0"
			        (click)="tooltip.show();like(note);">
			        <mat-icon>favorite</mat-icon>
			</button>						
		</div>
		<button mat-icon-button (click)="openCollectNoteDialog()"><mat-icon>playlist_add</mat-icon></button>
		<button mat-icon-button (click)="openNoteInforDialog()"><mat-icon>more_horiz</mat-icon></button>
	</div>
	
</mat-card>





