<mat-card>
	<mat-form-field floatLabel="never">		
		<mat-label>What's need to be typed?</mat-label>
		<textarea [(ngModel)]="note.content" (ngModelChange)="typing()" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
	</mat-form-field>

	<div class="bar">
		<button mat-icon-button *ngIf="state | async as state; else elseDay" class="btn">				
			<mat-icon *ngIf="state == 'typing'" class="typing">autorenew</mat-icon>
			<mat-icon *ngIf="state == 'saved'">cloud_done</mat-icon>			
		</button>

		<div [ngClass]="{'liked': note.like >= 1}" class="like btn">
			<button mat-icon-button class="like-btn" (click)="like();">
			        <mat-icon>favorite</mat-icon>
			</button>
			<span *ngIf="note.like >= 1">{{ note.like }}</span>			        
		</div>
		<button mat-icon-button class="btn" (click)="openCollectNoteDialog()"><mat-icon>playlist_add</mat-icon></button>
		<button mat-icon-button class="btn" (click)="openNoteInforDialog()"><mat-icon>more_horiz</mat-icon></button>
	</div>
	
</mat-card>





<ng-template #elseDay>
	<span *ngIf="!weekday" class="btn">{{ note.createdAt.toDate() | timeAgo}}</span>	
	<span *ngIf="weekday"  class="btn">{{ note.createdAt.toDate() | date:'EEEEEE'}}</span>	
</ng-template>
