.mat-dialog-content {
	max-height: 95vh !important;
	box-sizing: border-box;	
	margin: 0;

	/deep/ .mat-form-field {	
		width: 100%;
		box-sizing: border-box;
		padding: 0 16px;	

		.mat-input-element {
			overflow: hidden !important;
		}	
		.mat-form-field-wrapper {
		  padding: 0;
		
		}
		
		.mat-form-field-infix {
		  border-top: 0;
		}
		
		.mat-form-field-underline {
		  bottom: 0 !important;
		}
	}

	/deep/ .mat-list-text {
		flex-direction: row !important;
		justify-content: space-between;
	
	}
}

.mat-dialog-actions {
	padding: 8px 16px;
}

@media (max-width: 600px) {
	.mat-dialog-content {		
		padding: 0;
		/deep/ .mat-form-field {				
			padding: 0 8px;	
		}

		/deep/ .mat-list-item-content {
			padding: 0 8px;
		}
	}

	.mat-dialog-actions {
		padding: 8px 0px;
	}
	
}