@import '~@angular/material/theming';
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),

  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(17px, 1.7, 400), // mat-icon
  $body-1:        mat-typography-level(18px, 1.8, 400), // <p>
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(16px, 16px, 400),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(18px, 1.8, 400)
);

@include angular-material-typography($custom-typography);

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'app/module/login/login-page/login-page.component.scss-theme.scss';
@import 'app/module/home/home-page/home-page.component.scss-theme.scss';
@import 'app/shared/editor/editor.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include home-page-theme($theme);
  @include editor-component-theme($theme);
  @include login-page-component-theme($theme);
}


$candy-primary: mat-palette($mat-indigo);
$candy-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-warn:    mat-palette($mat-red);
$candy-theme: mat-light-theme($candy-primary, $candy-accent, $candy-warn);


.light {
	@include angular-material-theme($candy-theme);	
	@include custom-components-theme($candy-theme);
	// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
	// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
	// @import '~@angular/material/prebuilt-themes/purple-green.css';
	
}

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark {
	// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
  @include angular-material-theme($dark-theme);
  @include custom-components-theme($dark-theme);

}